.wrapper{
    width: 100%;
    max-width: 1256px;
    margin: auto;
}

body{
    background-image: url("/Assets/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.mapContainer{
    box-shadow: 10px 10px 5px #888888;
}