.wrapper{
    width: 100%;
    max-width: 1256px;
    margin: auto;
}

body{
    background-image: url("/Assets/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-color: tan;
}

#mapContainer{
    box-shadow: 10px 10px 5px #888888;
}

.infoPanel{
    min-height: 512px;
    background-color: whitesmoke;
    padding: 25px;
}
.roomDescription {
}

.modal-dialog{
    max-width: 100% !important;
    width: 500px !important;
}

.modal-content{
    overflow: hidden;
}

video {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 5px;
}

#secretCanvas{
    display: none;
    height: 512px;
    width: 512px;
}

.mainButton{
    cursor: pointer;
    padding: 10px;
    background-color: #5c9ccc;
}

.mainButton:hover{
    background-color: #5bc0de;
}